html,
body {
  margin: 0;
  padding: 0;
}

html,
body,
#root {
  height: 100%;
}
:root:root {
  --adm-color-primary: #fc6627;
  --adm-font-family: 'PingFangSC-Regular';
  --font-size: 16px;
}
p,
h2,
h3 {
  margin: 0;
}

* {
  box-sizing: border-box;
}
